{% load static %}
<!DOCTYPE html>
<html>
<head>
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <title>Django ejemplo!</title>
 <link rel="stylesheet" href="{% static 'bulma.min.css' %}">

</head>
<body>
<section class="section">
    <div class="container">
    <a href={% url "index" %}>EducacionIT</a> | <a href={% url "about" %}>About</a>
    {% block content %}

    {% endblock %}

    </div>
</section>
{% block footer %}
<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>Bulma</strong> by <a href="https://jgthms.com">Jeremy Thomas</a>. The source code is licensed
      <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
      is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
    </p>
  </div>
</footer>
{% endblock %}


</body>
</html>